In [16]:
import os
import pandas as pd
from typing import Optional, Sequence, Union

pd.set_option('display.max_columns', None)

from core import *

In [ ]:
df = load_data(r'D:\Documents\Python\CREATE_DATA\Air_Traffic_Passenger_Statistics.csv')

#df = load_data(r'D:\Documents\Python\CREATE_DATA\TITANIC.xlsx')

df.head()

,activity_period,operating_airline,operating_airline_iata,published_airline,published_airline_iata,geo_summary,geo_region,activity_type,price_category,terminal,boarding_area,passenger_count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [18]:
dp = profile(df)
dp.head()

Number of Rows = 22869
Number of Columns = 12

,Variable Name,Variable Type,Missing Count,% Blank,Unique Values,Most Frequent Value,Mean,Standard Deviation,Min,25%,Median,75%,Max,Skewness
0,activity_period,int64,0,0,186,201806,201307.19,448.69,200507.0,200907.0,201309.0,201707.0,202012.0,-0.118528
1,operating_airline,object,0,0,95,United Airlines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,operating_airline_iata,object,74,0,88,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,published_airline,object,0,0,85,United Airlines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,published_airline_iata,object,74,0,79,UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN