In [1]:
import os
import pandas as pd
from typing import Optional, Sequence, Union

pd.set_option('display.max_columns', None)

from core import *

In [2]:
df = load_data(r'D:\Documents\Python\CREATE_DATA\airline_names.xlsx')

In [3]:
#df = df[['operating_airline','published_airline']]
#df = df[['activity_period']]
df.head()

  operating_airline operating_airline2
0      ATA Airlines       ATA Airlines
1      ATA Airlines       ATA Airlines
2      ATA Airlines       ATA Airlines
3        Air Canada         Air Canada
4        Air Canada         Air Canada

In [4]:
profile(df)

ROW TOTAL = 22,869 COLUMNS = 2

,Variable Name,Variable Type,Missing Count,% Blank,Unique Values,Most Frequent Value,count,unique,top,freq
0,operating_airline,object,0,0,95,United Airlines,22869,95,United Airlines,2396
1,operating_airline2,object,4868,21,84,United Airlines - Pre 07/01/2013,18001,84,United Airlines - Pre 07/01/2013,2154

In [5]:
df.attrs['N'] = 5

In [6]:
df.attrs

{'N': 5}